@-webkit-keyframes color_change {
    from { background-color: blue; color: white }
    to { background-color: red; color: black }
}
@-moz-keyframes color_change {
    from { background-color: blue; color: white }
    to { background-color: red; color: black }
}
@-ms-keyframes color_change {
    from { background-color: blue; color: white }
    to { background-color: red; color: black }
}
@-o-keyframes color_change {
    from { background-color: blue; color: white }
    to { background-color: red; color: black }
}
@keyframes color_change {
    from { background-color: blue; color: white }
    to { background-color: red; color: black }
}

#title {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}
